<ul class="nav  nav--block  foo">
	<li {% if mixture.url == "index" %}class="current"{% endif %}><a href="{{ "/" | link_page }}">Home</a></li><!--
	--><li {% if mixture.url == "model" %}class="current"{% endif %}><a href="{{ "/model" | link_page }}">Model</a></li>
</ul>