{% block content %}
<div class="results" id="results">
    <h1>Welcome to <span class="brand">gaudi</span></h1>
    <p>To start, simply enter the name of a subreddit in the input field in the upper right corner. Try something like:</p>
    <ul class="tag-list">
        <li>
            <a href="#r/pics" class="tag tag--subreddit">pics</a>
        </li>
        <li>
            <a href="#r/funny" class="tag tag--subreddit">funny</a>
        </li>
        <li>
            <a href="#r/facepalm" class="tag tag--subreddit">facepalm</a>
        </li>
		<li>
            <a href="#r/reactiongifs" class="tag tag--subreddit">reactiongifs</a>
		</li>
        <li>
            <a href="#r/aww" class="tag tag--subreddit">aww</a>
        </li>
        <li>
            <a href="#r/meme" class="tag tag--subreddit">meme</a>
        </li>
    </ul>

    <p>
        <strong>Pro Tip: </strong>
        You can use the arrow keys on the keyboard to navigate through the posts. Try it!
    </p>

    <footer class="index-footer">
        procrastination simplified by Philipp Kreutzer, spoon me on <a href="https://github.com/redclov3r/gaudi" target="_blank">github</a>
    </footer>
</div>
<div class="browser" id="browser"></div>
<div class="spinner" id="spinner" style="display: none;"></div>
{% endblock %}
